body {
    background-color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: left;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3vw;
}

#startpic {
    margin-top: 5px;
    height: 25vw;
    width: auto;
}