body {
    background-color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12%;
}

#error {
    font-size: 1.3vw;
    margin-top: 20px;
}

#startpic {
    margin-top: 20px;
    width: 10vw;
}