body {
    background-color: #ccc;
}

html, body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.suggestion {
    margin-left: 12%;
    font-size: 1.3vw;
    margin-bottom: 25px;
}

.suggestion label {
    cursor: pointer;
}

.field {
    padding: 1px 2px;
    border-radius: 5px;
    font-size: 1.3vw;
    width: 30%;
    height: auto;
    margin: 7px 0;
}

.submit {
    padding: 6px 6px;
    margin-top: 10px;
    z
    border-radius: 5px;
    font-size: 0.8vw;
}

#picture {
    border-radius: 5px;
    width: 30%;
    height: auto;
    margin: 12px 0;
}